<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="ProWeb.Site1" %>

<!DOCTYPE html>

<html>
<head runat="server">
<link href="~/Source/Styles/Site1_master.css" rel="stylesheet" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div class="contenedor">
    <header id="menu">
        <asp:ImageButton id="botonLogo" OnClick="EventoBotonLogo" ImageUrl="~/Source/Images/logo.png" runat="server" CssClass="LogoImagen" CausesValidation="false"/>
        <asp:Menu ID="mainMenu" Orientation="Horizontal" runat="server" StaticSubMenuIndent="16px" CssClass="menu-tabs" DynamicMenuItemStyle-CssClass="submenu">
            <Items>
                <asp:MenuItem NavigateUrl="juegos.aspx" Text="Juegos"></asp:MenuItem>
                <asp:MenuItem NavigateUrl="listaequipos.aspx" Text="Equipos"></asp:MenuItem>
                <asp:MenuItem NavigateUrl="informacionestadio.aspx" Text="Estadios"></asp:MenuItem>

                <asp:MenuItem NavigateUrl="paneladmin.aspx" Text="Administrar">
                    <asp:MenuItem NavigateUrl="adminequipos.aspx" Text="Equipos"></asp:MenuItem>
                    <asp:MenuItem NavigateUrl="adminestadios.aspx" Text="Estadios"></asp:MenuItem>
                    <asp:MenuItem NavigateUrl="DBusuario.aspx" Text="Usuarios"></asp:MenuItem>
                    <asp:MenuItem NavigateUrl="administrarroles.aspx" Text="Roles"></asp:MenuItem>
                    <asp:MenuItem NavigateUrl="ubicacion.aspx" Text="Ubicaciones"></asp:MenuItem>
                    <asp:MenuItem NavigateUrl="adminnotificaciones.aspx" Text="Notificaciones"></asp:MenuItem>
                    <asp:MenuItem NavigateUrl="adminapuestas.aspx" Text="Apuestas"></asp:MenuItem>
                    <asp:MenuItem NavigateUrl="DBPatrocinadores.aspx" Text="Patrocinadores"></asp:MenuItem>
                    <asp:MenuItem NavigateUrl="AdministrarCateg.aspx" Text="Categorías"></asp:MenuItem>
                    
                </asp:MenuItem>
            </Items>
        </asp:Menu>
    
        <asp:Button id="botonSesion" Text="Iniciar Sesión" runat="server" OnClick="EventoClickSesion" Height="28px" Width="131px" CssClass="ISboton" Visible="true" CausesValidation="false"/>
        
        <!-- Sesión iniciada (abajo). Sesión no iniciada (arriba) -->
        <div id="ContenedorFoto">
            <asp:ImageButton ImageUrl="~/Source/Images/DefaultPFP.jpg" runat="server" CssClass="FotoPerfil" id="botonPerfil" OnClick="EventoBotonPerfil" Visible="false" CausesValidation="false"/>
        </div>
    </header>
    <main class="ContenidoMaster">
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </main>
    <footer runat="server">
        <div class="ContenidoPie">
            <asp:Label runat="server">Todos los derechos reservados ©</asp:Label>
        </div>
    </footer>
        </div>
        </form>
    
</body>
</html>