p{
    font-family:Arial;
    font-size:15px;
    font-weight:600;
}

hr{
    margin:20px 0px 20px 0px;
}

.BotonAdminUsuario {
    color: black;
    background-color: white;
    border-radius: 10px 10px;
    border: 2px solid black;
    width: fit-content;
    padding: 5px 10px 5px 10px;
    font-family: Arial;
    font-size: 15px;
    margin: 0 0 10px 10px;
}

.BotonAdminUsuario:hover {
    color: white;
    background-color: grey;
}

.BotonBorrarUsuario {
    background-color: white;
    border-radius: 20px 20px;
    border: 2px solid black;
    width: fit-content;
    padding: 10px;
    font-family: Arial;
    font-size: 15px;
    margin: 0 0 10px 0;
    border-color: red;
    color: red;
}

.BotonBorrarUsuario:hover {
    background-color: red;
    color: white;
}

select {
    border:2px solid black;
    border-radius:20px 20px;
    font-family: Arial;
    font-size:15px;
    padding:5px 10px 5px 10px;
}