#Contenedor1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titulo {
    font-family: Arial;
    font-size: 40px;
    font-weight: 800;
}

.textoregister {
    font-family: Arial;
    margin: 15px 0 5px 0;
}

.Inputregister {
    color: black;
    background-color: white;
    border-radius: 20px 20px;
    border: 2px solid black;
    width: fit-content;
    padding: 10px;
    font-family: Arial;
    font-size: 20px;
    margin: 0 0 10px 0;
}

    .Inputregister::placeholder {
        font-family: Arial;
        font-size: 15px;
    }

    .Inputregister:hover {
        color: black !important;
        background-color: white !important;
    }

.mensajeError {
    font-family: Arial !important;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

.input-error {
    border: 2px solid red !important;
    outline: none;
}

/* Estilo SOLO para los botones, no para los inputs */
.botonregister {
    color: black;
    background-color: white;
    border-radius: 20px 20px;
    border: 2px solid black;
    width: fit-content;
    padding: 10px;
    font-family: Arial;
    font-size: 20px;
    margin: 0 0 10px 0;
}

    .botonregister:hover {
        color: white;
        background-color: grey;
    }
.dropdown-row {
    display: flex;
    flex-direction: row;
    gap: 15px; /* espacio entre desplegables */
    margin-bottom: 10px;
}
